---
layout: default
title: Projects
---

<!--h1>{{page.title}}</h1-->

<!--<div class="listing">
    {% for tag in site.tags %}
    {% if tag[0] == "projects" %}
    <div class="post other link">
    {% for post in tag[1] %}
      <h2></span> <a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date_to_string }}</p>
    {% endfor %}
 </div>
  {% endif %}
{% endfor %}
</div> THIS FOR LINKING GOOGLE DOCS-->

<style>
	img{
		width:65%;
		margin:auto;

	}
</style>

<a href="https://www.notion.so/powderhouse/Correspondance-First-Pancakes-3ba92c6f8c204117bf3262a9e72e05ce"> <h1> Correspondance </h1>
<img src="./images/tubpic.png" alt="photo of bathtub shadow"></a>
<p>A series of miniature dance films exploring the theme of Seen/Unseen.</p>
<hr>
<a href="https://www.notion.so/powderhouse/Junk-Drawer-Mini-Project-6533beff3449444eb9aac0901943dba7"> <h1> Junk Drawers </h1>
<img src="./images/junkdrawer.jpg" alt="photo of a junk drawer"></a>
<p>Curated junk drawers filled with evocative objects from Ray Bradbury's "The Man Upstairs"</p>
<hr>

<a href="https://www.notion.so/powderhouse/Plinkquito-Video-Project-b07947af2f40462eafc65e4537b5c015"> <h1> Plinkquito Video </h1>
<img src="./images/plinkvid.png" alt="photo of a plinkquito video screenshot"></a>
<p>A video visually explaining the mathematical process to determine the motor spool size on the graffiti machine created at Powderhouse</p>
<hr>
<a href="https://www.notion.so/powderhouse/Ghost-Garden-4870d638cfc2439a99df81a7accfb474"> <h1> Ghost Garden </h1>
<img src="./images/GhostGardenIcon.png" alt="photo of garden"></a>
<p>Inspired by Ghost Bikes, this Ghost Garden pays tribute to the haunting history of Indigenous communities who violently lost seed and soil to genocide and colonization</p>
<hr> 
