<div id='footer'>
  <style>
#footer {
  height: 30px;
  position: relative;

}

  #footer div
  { position: absolute;
    bottom:0;
    right: 0;
  }

</style>
<a href="mailto:{{ site.owner.email }}" class="social-media-icons"><i class="fa fa-2x fa-envelope-square" aria-hidden="true"></i></a>

<!--<a href="http://instagram.com/" class="social-media-icons"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>

<a href="/feed.xml" class="social-media-icons"><i class="fa fa-2x fa-rss" aria-hidden="true"></i></a>-->

<div> Inspiration for everything on this site courtesy of
    <a href='https://www.dropbox.com/s/j96wsc0tdahjgeb/IMG_7466.JPG?dl=0' class='link dim blue'>Piña</a>
</div>

</div>